<div id="app-editor" class="expanded">

  <div id="app-controls">
    <div id="app-controls-header">
      <div class="title">Weblayer</div>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active first"><a href="#app-controls-views" data-toggle="tab">Views</a></li>
        <li><a href="#app-controls-objects" data-toggle="tab">Data Objects</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="app-controls-views">
        </div>

        <div class="tab-pane" id="app-controls-objects">
        </div>

      </div>
    </div>
  </div>

  <div id="app-preview">
  </div>
</div>

<script type="text/json" id="data">
{"objects": <%= @app_objects.to_json %>}
</script>

<script type="text/javascript">
$(function () {
  var $div = $('<div></div>'),
  data;
  $div.html($('#data').text());
  data = JSON.parse($div.text());

  Weblayer.initialize(data);
});
</script>
