// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#app-editor {
  position: fixed;
  overflow: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  min-width: 0;
  height: 100%;
}
#app-editor.expanded {
  margin-left: 300px;
}

#app-controls {
  position: fixed;
  width: 299px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  margin: 0;
  z-index: 10;
  border-right: 1px solid rgba(0,0,0,0.5);
  @include box-shadow(0 1px 3px rgba(0,0,0,0.2) inset);
  background-color: $grayDark;
  color: $grayLighter;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  font-weight: 200;
  letter-spacing: 1px;

  .tabbable {
    background-color: $gray;
    height: 100%;
  }
  .nav-tabs {
    background-color: $grayDark;
    border-bottom: 1px solid $grayLight;

    > li > a {
      border: 1px solid $grayLight;
      color: $grayLight;
    }
    > li > a:hover,
    > li > a:focus {
      color: $gray;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border: 1px solid $grayLight;
      border-bottom-color: transparent;
      background-color: $gray;
      color: $grayLighter;
    }
    > :first-child > a,
    > :first-child > a:hover,
    > :first-child > a:focus {
      @include border-radius(0 4px 0 0);
      border-left-color: transparent;
    }
  }

  .tab-content {
    padding-top: 12px;
  }
  .accordion-group {
    margin-bottom: 0;
    border: 0;
    @include border-radius(0);
  }
  .accordion-heading {
    @include box-shadow(0 1px 3px rgba(0,0,0,0.8));

    a {
      color: $grayLighter;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .accordion-inner {
    border-top: 0;
  }
}

#app-controls-header {
  @include clearfix;
  padding: 0 12px 20px;
  font-size: $fontSizeLarge;

  .title {
    float: left;
  }
  .devices {
    font-size: 1.6em;
    text-align: right;

    li {
      display: inline-block;
    }
    li [class^="icon-"],
    li [class*=" icon-"] {
      width: auto;
      padding: 0 0 0 12px;
    }
    a {
      color: $grayLight;
    }
    li.active a,
    a:hover,
    a:focus {
      text-decoration: none;
      color: $grayLighter;
    }
  }
}

.app-objects-new {
  margin: 0 12px;
}
.app-object-field {
  margin: 10px 0 0;

  .remove {
    color: $black;
  }
}

#app-preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: $grayDarker;

  iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 0px none transparent;
    background-color: $white;
  }
}

.app-components {
  h4 {
    background-color: $gray;
    padding: 6px 12px;
    margin-top: 0;
    @include box-shadow(0 1px 3px rgba(0,0,0,0.8));
    font-weight: normal;
    font-size: $baseFontSize;
  }
  ul {
    margin: 0 12px;
  }
  li {
    display: block;
    margin: 2px 0;
  }
}
.app-component-draggable {
  display: block;
  @include box-shadow(0 1px 3px rgba(0,0,0,0.8));
  width: 252px;
  padding: 6px 12px;
  background-color: $grayLighter;
  color: $grayDarker;
  cursor: move;
}
.app-component-draggable:hover {
  text-decoration: none;
  color: $grayLighter;
  background-color: $grayDarker;
}

